# Vercel Postgres (Neon)
DATABASE_URL="postgres://default:xxx@ep-xxx.us-east-2.aws.neon.tech/verceldb?sslmode=require&connect_timeout=30"
DIRECT_URL="postgres://default:xxx@ep-xxx.us-east-2.aws.neon.tech/verceldb?sslmode=require&connect_timeout=30"
